.current-eating__product {
  margin-bottom: 8px;
  width: 134px;
  height: 214px;
  margin-right: 6px;
  box-shadow: 0 0 2px white;
}
.current-eating__product-info {
  font-size: 12px;
  padding: 3px;
  background-color: #4c4c4c;
  position: relative;
}
.current-eating__remove {
  position: absolute;
  right: 0;
  top: 0;
}
.current-eating__remove .mat-icon {
  display: none;
  cursor: pointer;
  color: #787878;
}
.current-eating__product:hover .current-eating__remove .mat-icon {
  display: block;
}
.current-eating__remove .mat-icon:hover {
  color: white;
}
.current-eating__product-image {
  width: 134px;
  height: 134px;
}
.current-eating__product-image img {
  width: 100%;
}
.current-eating__mobile-remove {
  display: none;
}

@media screen and (max-width: 992px) {
  .current-eating__product {
    width: 100%;
    height: auto;
  }
  .current-eating__product-image {
    width: 100%;
    height: 100%;
  }
  .current-eating__product-info {
    margin-top: -4px;
    font-size: 14px;
  }
  .current-eating__remove .mat-icon {
    display: block !important;
  }
  .current-eating__product-info {
    position: relative;
  }
  .current-eating__mobile-remove {
    display: block;
    position: absolute;
    top: 23px;
    right: 15px;
  }
  .current-eating__remove {
    display: none;
  }
  button {
    background-color: #5147da !important;
  }
}
