.radio-group {
  position: relative;
}
.radio-group__title {
  font-size: 13px;
  color: #bbbbbb;
  position: absolute;
  top: -30px;
  left: 13px;
}
.mat-radio-button {
  margin-left: 15px;
}

@media screen and (max-width: 500px) {
  .radio-group__title {
    display: none;
  }
  .radio-group__male {
    display: flex;
    justify-content: center;
  }
}
