<div class="header">
  <div class="header__wrapper">
    <div class="header__logo">
      <img class="header__logo-img" src="assets/img/tVcfXEwfR7k.png">
    </div>
    <div class="header__items">
      <div class="header__item" routerLink="/my-food" routerLinkActive="header__item_active">{{'menu-items.my-food' | translate}}</div>
      <div class="header__item" routerLink="/settings" routerLinkActive="header__item_active">{{'menu-items.settings' | translate}}</div>
      <div class="header__item" (click)="logout()">{{'menu-items.log-out' | translate}}</div>
    </div>
  </div>
</div>
