<div class="header">
  <div class="header__wrapper">
    <div class="header__logo">
      <img class="header__logo-img" src="assets/img/tVcfXEwfR7k.png">
    </div>
    <div class="header__items">
      <div class="header__item" routerLink="/my-food" routerLinkActive="header__item_active">My Food</div>
      <div class="header__item" routerLink="/settings" routerLinkActive="header__item_active">Settings</div>
      <div class="header__item" (click)="logout()">Log Out</div>
    </div>
  </div>
</div>