<div class="activity">
  <div class="activity__title">{{'activity.title' | translate}}</div>
  <div class="activity__description">{{'activity.description' | translate}}</div>
  <div class="activity__content" *ngIf="!progressBarVisibility">
    <div class="activity__item">
      <app-chart [renderSubject]="weightSubject" chartId="weightChart" caption="{{'activity.weight' | translate}}" axisTitle="Kg" [hidden]="!weight.length"></app-chart>
    </div>
    <div class="activity__item">
      <app-chart [renderSubject]="stepsSubject" chartId="stepsChart" caption="{{'activity.steps' | translate}}" axisTitle="Steps" [hidden]="!steps.length"></app-chart>
    </div>
    <div class="activity__item">
      <app-chart [renderSubject]="heartSubject" chartId="heartRate" caption="{{'activity.heart-rate' | translate}}" axisTitle="Bits" [hidden]="!heartRate.length"></app-chart>
    </div>
  </div>
</div>
