.select__option {
  height: 55px;
  display: flex;
  align-items: center;
  color: #bbb;
  padding: 0 40px;
  background-color: #252429;
  transition: .1s;
}
.select__option:hover {
  background-color: #131214;
  color: white;
  text-shadow: 0 0 2px white;
}
.select__option:active {
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.096);
}