.settings {
  min-height: calc(100vh - 80px);
  color: white;
  position: relative;
  font-family: 'Lato', sans-serif;
  padding-top: 20px;
}
.settings__content {
  width: 700px;
  margin: 20px auto;
  position: relative;
}
.settings__content-wrapper {
  min-height: calc(100vh - 176px);
  overflow: hidden;
  width: 100%;
}
.settings__title {
  font-size: 30px;
  text-align: center;
}
.settings__menu {
  position: absolute;
  top: 0;
  right: -150px;
  font-size: 25px;
  color: rgb(190, 190, 190);
}
.settings__menu-item {
  padding: 10px;
  transition: .4s;
  outline: none;
}
.settings__menu-item:hover {
  color: white;
  cursor: pointer;
  transform: translateX(-20px);
}
.settings__menu-item_active {
  color: white;
}

.settings__mobile-menu {
  display: none;
}

@media screen and (max-width: 992px) {
  .settings__content {
    width: 100vw;
    position: static;
  }
  .settings__title {
    font-size: 22px;
  }
  .settings__menu {
    display: none;
  }
  .settings__mobile-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    border: .5px solid #505050;
    border-left: none;
    z-index: 100;
  }
}
