<div class="settings">
  <div class="settings__title">{{'settings.profile-settings' | translate}}</div>
  <div class="settings__content">
    <div class="settings__content-wrapper">
      <div [@settingsRouteAnimation]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
    <div class="settings__menu">
      <div class="settings__menu-item" routerLink="/settings/personal" routerLinkActive="settings__menu-item_active">{{'settings.personal' | translate}}</div>
      <div class="settings__menu-item" routerLink="/settings/system" routerLinkActive="settings__menu-item_active">{{'settings.system' | translate}}</div>
    </div>
  </div>
  <div class="settings__mobile-menu" *ngIf="isMobile">
    <div class="settings__mobile-menu-item">
      <app-rect-icon-button icon="person" url="/settings/personal"></app-rect-icon-button>
    </div>
    <div class="settings__mobile-menu-item">
      <app-rect-icon-button icon="settings_applications" url="/settings/system"></app-rect-icon-button>
    </div>
  </div>
</div>
