#chartdiv {
  height: 550px;
}
.daily__empty {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.daily__spinner {
  display: flex;
  justify-content: center;
}
mat-dialog-content {
  padding: 0;
}

@media(max-width: 576px) {
  #chartdiv {
    height: 250px;
    width: 90%;
  }
  mat-dialog-content {
    padding: 0;
  }
}
