<mat-dialog-content>
  <div class="change-password" [formGroup]="changePasswordForm">
    <div class="app__popup-close">
      <mat-icon (click)="close()">clear</mat-icon>
    </div>
    <div class="change-password__title">Enter your new password</div>
    <div class="change-password__description">
      You need to confirm your old password and after that enter new.
    </div>
    <div class="change-password__control">
      <app-input-text placeholder="Old Password" icon="lock">
        <input type="password" formControlName="oldPassword" [class.control_invalid]="controlHasError('oldPassword')">
      </app-input-text>
    </div>
    <div class="change-password__control">
      <app-input-text placeholder="New Password" icon="lock">
        <input type="password" formControlName="password" [class.control_invalid]="controlHasError('password')">
      </app-input-text>
    </div>
    <div class="change-password__control">
      <app-input-text placeholder="Confirm New Password" icon="lock">
        <input type="password" formControlName="confirmPassword" [class.control_invalid]="controlHasError('confirmPassword')">
      </app-input-text>
    </div>
    <div class="app__error" *ngIf="changePasswordFormHasError() || error">{{error}}</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="change-password__close-button">
    <app-spinner-button
      caption="Accept"
      [small]="true"
      (click)="changePassword()"
      [spinnerStateSubject]="spinnerSubject"
      [disabled]="!changePasswordForm.valid"
    ></app-spinner-button>
  </div>
</mat-dialog-actions>
