@font-face {
  font-family: 'Sequel Sans Bold Display';
  src: url('../fonts/Sequel\ Sans\ Bold\ Disp.ttf');
}
@font-face {
  font-family: 'Sequel Sans Light Disp';
  src: url('../fonts/Sequel\ Sans\ Light\ Disp.ttf');
}