.user-icon {
  width: 150px;
  height: 150px;
  position: relative;
}
.user-icon__small {
  width: 50px;
  height: 50px;  
}
.user-icon__img, .user-icon__img img, .user-icon__trim {
  width: 100%;
  height: 100%;

}
.user-icon__img {
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  overflow: hidden;  
}
.user-icon__trim {
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  background-color: rgb(35, 213, 219);
}
.user-icon__fake {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 1;
}
.user-icon__real {
  position: relative;
  z-index: 2;
}
