<div class="sign-in">
    <div class="sign-up__title">
      Get sign up to create your account
    </div>
    <div class="sign-up__content" *ngIf="signUpForm">
      <form [formGroup]="signUpForm">      
        <input class="sign-up__fake" type="text" placeholder="login" name="login">
        <input class="sign-up__fake" type="password" placeholder="password" name="password">
        <div class="sign-up__control">
          <app-input-text placeholder="Nickname" icon="perm_identity">
            <input type="text" formControlName="nickname" [class.sign-in__control_invalid]="controlHasError('nickname')">
          </app-input-text>
        </div>
        <div class="sign-up__control">
          <app-input-text placeholder="Email Address" icon="mail_outline">
            <input type="text" formControlName="email" [class.sign-in__control_invalid]="controlHasError('email')">
          </app-input-text>
        </div>
        <div class="sign-up__control">
          <app-input-text placeholder="Password" icon="lock">
            <input type="password" formControlName="password" [class.sign-in__control_invalid]="controlHasError('password')">
          </app-input-text>
        </div>
        <div class="sign-up__control">
          <app-input-text placeholder="Confirm Password" icon="lock">
            <input type="password" formControlName="confirmPassword" [class.sign-in__control_invalid]="controlHasError('confirmPassword')">
          </app-input-text>
        </div>
        <div class="app__error" *ngIf="signInFormHasError() || error">{{error}}</div>
        <div class="sign-up__control">
          <app-spinner-button
            [disabled]="!this.signUpForm.valid"
            caption="Sign Up"
            (click)="signIn()"
            [spinnerStateSubject]="spinnerStateSubject"
          ></app-spinner-button>
        </div>
      </form>
    </div>
  </div>
  