.video {
  height: 100%;
  color: white;
  cursor: pointer;
  position: relative;
  font-family: 'Lato', sans-serif;
  transition: .3s;
  overflow: hidden;
}
.video__preview>img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .3s;
}
video {
  height: 100%;
}
.video__preview {
  display: flex;
  justify-content: center;
  height: 166.6px;
  width: 250px;
  overflow: hidden;
  position: relative;
}
.video__title {
  position: absolute;
  left: 0;
  top: 0;
  transition: .3s;
}
.video__title {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 10px;
}
.video:hover {
  transform: scale(1.1);
}
.video:hover .video__title {
  top: 100%;
}
.video:hover .video__preview img:not(.video__play) {
  top: 100%;
}
.video:hover .video__duration {
  transform: translateY(100px);
}
.video__title-info {
  display: flex;
  font-size: 13px;
  color: rgb(189, 189, 189);
  margin-top: 10px;
}
.video__title-info-item {
  margin-right: 3px;
  margin-left: 3px;
}
.video__play {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video__play img {
  width: 80px;
  display: none;
}
.video:hover .video__play img {
  display: block;
}
.video__duration {
  position: absolute;
  bottom: 7px;
  right: 7px;
  background-color: rgb(15, 15, 15);
  font-size: 11px;
  padding: 5px;
  border-radius: 2px;
  transition: .3s;
}

@media screen and (max-width: 500px) {
  .video__preview {
    width: 100%
  }
  .video__preview > img {
    width: 100%;
    height: auto;
  }
}
