<div class="play__spinner" *ngIf="!contentVisibility">
  <mat-spinner></mat-spinner>
</div>
<div class="play" *ngIf="contentVisibility">
  <div class="play__close">
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="play__video">
    <video
      id="qwe"
      appListenToArrows
      [src]="video.videoFile"
      autoplay
      (click)="playOrPause()"
      (timeupdate)="reactOnVideoTimeUpdate()"
    ></video>
    <div class="play__video-controls">
      <div class="play__vide-timeline-wrapper" (click)="setPosition($event)">
        <div
          class="play__video-timeline"
          [style.width]="currentTimelineWidth + '%'"
        ></div>
      </div>
      <div class="play__control-panel">
        <div class="play__control-panel-left" *ngIf="videoElement">
          <button mat-icon-button (click)="playOrPause()">
            <mat-icon>{{playNow ? 'pause' : 'play_arrow'}}</mat-icon>
          </button>
          <button mat-icon-button (click)="skipPrev()">
            <mat-icon>fast_rewind</mat-icon>
          </button>
          <button mat-icon-button (click)="skipNext()">
            <mat-icon>fast_forward</mat-icon>
          </button>
          <button mat-icon-button (click)="toggleVolume()">
            <mat-icon>{{volumeIsUp() ? 'volume_up' : 'volume_off'}}</mat-icon>
          </button>
          <mat-slider
            [max]="100"
            [min]="0"
            [step]="1"
            [thumbLabel]="true"
            [(ngModel)]="tempVolume"
            (change)="reactOnChangeVolume($event)">
          </mat-slider>
          <div class="play__duration">{{videoElement.currentTime | duration}} / {{videoElement.duration | duration}}</div>
        </div>
        <div class="play__control-panel-right">
          <button mat-icon-button (click)="openFullScreen()">
            <mat-icon>fullscreen</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="play__info">
    <div class="play__info-left">
      <div class="play__title">{{video.title}}</div>
      <div class="play__description">{{video.description}}</div>
      <div class="play__description">{{getFormatedDate()}}</div>
    </div>
    <div class="play__info-right">
      {{video.likes.length}}
      <button mat-icon-button (click)="reactOnLikeClick()" [class.play__active-button]="likeSet()">
        <mat-icon>thumb_up</mat-icon>
      </button>
      {{video.dislikes.length}}
      <button mat-icon-button (click)="reactOnDislikeClick()" [class.play__active-button]="dislikeSet()">
        <mat-icon>thumb_down</mat-icon>
      </button>
      <div class="play__title">{{video.views}} views</div>
    </div>
  </div>
  <div class="play__comments">
    <app-textarea placeholder="Leave comment">
      <textarea (keydown.enter)="sendComment()" [(ngModel)]="currentComment" #textarea></textarea>
    </app-textarea>
    <app-spinner-button caption="Send" [small]="true" (click)="sendComment()"></app-spinner-button>
    <div class="play__comments-items">
      <div class="play__comment" *ngFor="let comment of video.comments">
        <app-user-icon [small]="true" [avatar]="comment.userAvatar" [fakeAvatar]="comment.userFakeAvatar"></app-user-icon>
        <div class="play__comment-info">
          <div class="play__comment-nickname"><span class="play__comment-nickname-value">{{comment.nickname}}</span><span class="play__comment-timestamp">{{getCommentDate(comment.timestamp)}}</span></div>
          <div class="play__comment-body">{{comment.body}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
