.play__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.play {
  color: white;
  font-family: 'Lato', sans-serif;
}
.play__video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-bottom: .5px solid rgb(88, 88, 88);
  position: relative;
  overflow: hidden;
}
.play__title {
  font-size: 25px;
  margin: 10px 50px;
}
.play__description {
  color: #9c9c9c;
  margin: 5px 50px;
}
.play__info {
  display: flex;
}
.play__info>div {
  flex-basis: 50%;
}
.play__info-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.play__info-right button {
  margin-right: 10px;
}
.play__close {
  position: absolute;
  top: 0;
  right: 5px;
}
.play__close mat-icon {
  color: #787878;
}
.play__close button:hover mat-icon {
  color: white;
}
.play__comments {
  padding: 30px 50px;
}
.play__comments /deep/ .textarea {
  width: 50%;
  margin-bottom: 10px;
}
.play__active-button mat-icon {
  color: #5147da;
}
.play__comment {
  display: flex;
  margin-bottom: 20px;
  width: 50%;
}
.play__comment-info {
  margin-left: 10px;
  margin-top: 5px;
}
.play__comment-timestamp {
  font-size: 12px;
  margin-left: 10px;
  color: rgb(173, 173, 173);
}
.play__comment-nickname {
  display: flex;
  align-items: center;
}
.play__comment-nickname-value {
  font-weight: 600;
}
.play__comment-body {
  font-size: 15px;
  color: #c5c5c5;
  margin-top: 6px;
}
.play__comments-items {
  margin-top: 50px;
}
.play__video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.692);
  transition: .2s;
  transform: translateY(73px);
}
.play__video-timeline {
  height: 5px;
  background-color: #5147da;
  border-radius: 2px;
  transition: .2s;
}
.play__video:hover .play__video-controls {
  transform: translateY(0);
  padding: 10px;
}
.play__control-panel {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.play__control-panel mat-icon {
  color: #787878;
}
.play__control-panel button:hover mat-icon {
  color: white;
}
.play__vide-timeline-wrapper {
  width: 100%;
  height: 7px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background-color: #131d29;
  cursor: pointer;
}
.play__control-panel-left {
  display: flex;
  align-items: center;
}
.play__duration {
  margin-left: 20px;
}