<div class="play__spinner" *ngIf="!contentVisibility">
  <mat-spinner></mat-spinner>
</div>
<div class="play" *ngIf="contentVisibility">
  <div class="play__close">
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="play__video">
    <video [src]="video.videoFile" autoplay></video>
    <div class="play__video-controls">
      <div class="play__video-timeline"></div>
    </div>
  </div>
  <div class="play__info">
    <div class="play__info-left">
      <div class="play__title">{{video.title}}</div>
      <div class="play__description">{{video.description}}</div>
      <div class="play__description">{{getFormatedDate()}}</div>
    </div>
    <div class="play__info-right">
      {{video.likes.length}}
      <button mat-icon-button (click)="reactOnLikeClick()" [class.play__active-button]="likeSet()">
        <mat-icon>thumb_up</mat-icon>
      </button>
      {{video.dislikes.length}}
      <button mat-icon-button (click)="reactOnDislikeClick()" [class.play__active-button]="dislikeSet()">
        <mat-icon>thumb_down</mat-icon>
      </button>
      <div class="play__title">{{video.views}} views</div>
    </div>
  </div>
  <div class="play__comments">
    <app-textarea placeholder="Leave comment">
      <textarea (keydown.enter)="sendComment()" [(ngModel)]="currentComment" #textarea></textarea>
    </app-textarea>
    <app-spinner-button caption="Send" [small]="true" (click)="sendComment()"></app-spinner-button>
    <div class="play__comments-items">
      <div class="play__comment" *ngFor="let comment of video.comments">
        <app-user-icon [small]="true" [avatar]="comment.userAvatar" [fakeAvatar]="comment.userFakeAvatar"></app-user-icon>
        <div class="play__comment-info">
          <div class="play__comment-nickname"><span class="play__comment-nickname-value">{{comment.nickname}}</span><span class="play__comment-timestamp">{{getCommentDate(comment.timestamp)}}</span></div>
          <div class="play__comment-body">{{comment.body}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
