<mat-dialog-content>
  <div class="welcome">
    <div class="app__popup-close">
      <mat-icon mat-dialog-close>clear</mat-icon>
    </div>
    <div class="welcome__title">Welcome to Gisfit application!</div>
    <div class="welcome__subtitle">
      This application used to track your daily food, to estimate your proper nutrition. Before starting you have to fill your personal data to calculate your daily goals based on it. You have to fill such attributes as height, weight, age and so on. Just close the window if everything is clear and start filling!
    </div>
  </div>
</mat-dialog-content>