.search-outside {
  font-family: 'Lato', sans-serif;
  color: white;
}
.search-outside__title {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.search-outside__control {
  width: 300px;
  margin: 0 auto;
}
.search-outside__search {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
