<mat-dialog-content>
  <div class="auto-calc">
    <div class="app__popup-close" (click)="close()">
      <mat-icon>clear</mat-icon>
    </div>
    <div class="auto-calc__content" [style.visibility]="products ? 'visible' : 'hidden'">
      <div class="auto-calc__selection">
        <div class="auto-calc__title">Selected products</div>
        <div class="auto-calc__selection-empty" *ngIf="!selectedProducts?.length">You have not selected products yet</div>
        <app-current-eating [selection]="true" (selectProducts)="reactOnselectProducts($event)"></app-current-eating>
      </div>
      <div class="auto-calc__products-wrapper">
        <div class="auto-calc__title">Select products for your dish</div>
        <div class="auto-calc__search">
          <app-search caption="Search products" (searchEvent)="reactOnSearchEvent($event)"></app-search>
        </div>
        <virtual-scroller #scroll [items]="displayedProducts" [bufferAmount]="2" *ngIf="displayedProducts">
          <div class="auto-calc__product" *ngFor="let product of scroll.viewPortItems">
            <app-product
              [selection]="true"
              [product]="product"
              (addProductEvent)="reactOnAddProduct($event)"
              (deleteProductEvent)="reactOnDeleteProduct($event)"></app-product>
          </div>
        </virtual-scroller>
      </div>
    </div>
  </div>
  <app-flying-product [selection]="true"></app-flying-product>
</mat-dialog-content>
<mat-dialog-actions *ngIf="products">
  <app-custom-button [small]="isMobile" [disabled]="!selectedProducts?.length" caption="Calculate" color="accent" (click)="calculate()"></app-custom-button>
  <app-custom-button [small]="isMobile" caption="Back" color="warn" (click)="close()"></app-custom-button>
</mat-dialog-actions>
