mat-dialog-content {
  max-height: none;
  overflow: visible;
}
.auto-calc {
  font-family: 'Lato', sans-serif;
  color: white;
  position: relative;
}
.auto-calc__title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.auto-calc__content {
  display: flex;
}
.auto-calc__selection {
  width: 460px;
}
virtual-scroller {
  width: 760px;
  overflow-y: auto;
  height: calc(80vh - 180px);
}
.auto-calc__product {
  flex-basis: 25%;
  margin-bottom: 30px;
  height: 207px;
  display: flex;
  justify-content: center;
}
mat-dialog-actions {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
app-custom-button:first-of-type {
  margin-right: 15px;
}
.auto-calc__spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  width: 100%;
  left: 0;
}
.auto-calc__selection-empty {
  margin-top: 30px;
  font-size: 13px;
  color: silver;
  text-align: center;
}
.auto-calc__search {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.auto-calc /deep/ .current-eating__product {
  flex-basis: 33.3%;
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .auto-calc__content {
    display: block;
  }
  .auto-calc__selection {
    width: auto;
  }
  .auto-calc__selection {
    height: 50%;
  }
  virtual-scroller {
    width: 100vw;
    margin-left: -24px;
    padding-bottom: 20px;
  }
  mat-dialog-content {
    height: 100%;
  }
  .auto-calc {
    height: 100%;
  }
  .auto-calc__content {
    height: 100%;
  }
  .auto-calc__title {
    font-size: 16px;
    margin-bottom: 0;
  }
  .auto-calc__selection-empty {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  .auto-calc__products-wrapper {
    height: 50%;

  }
  .auto-calc /deep/ .scrollable-content {
    justify-content: space-evenly;
  }
  .auto-calc .auto-calc__product {
    height: 165px;
    margin-bottom: 0;
    margin-bottom: 10px;
  }
  .auto-calc__search {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
