.auto-calc {
  font-family: 'Lato', sans-serif;
  color: white;
}
.auto-calc__title {
  font-size: 20px;
  text-align: center;
}
.auto-calc__content {
  display: flex;
}
.auto-calc__selection {
  width: 460px;
}
.auto-calc__products {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-top: 20px;
  overflow-y: auto;
  height: 518px;
}
.auto-calc__selection-title {
  color: silver;
  padding-top: 20px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}
.auto-calc__product {
  flex-basis: 25%;
  margin-bottom: 30px;
  height: 207px;
  display: flex;
  justify-content: center;
}
mat-dialog-actions {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
app-custom-button:first-of-type {
  margin-right: 15px;
}
.auto-calc__spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.auto-calc__selection-empty {
  margin-top: 30px;
  font-size: 13px;
  color: silver;
  text-align: center;
}
