<mat-dialog-content>
  <div class="edit-dish">
    <div class="app__popup-close" (click)="close()">
      <mat-icon>clear</mat-icon>
    </div>
    <div class="edit-dish__title">{{'edit.edit-dish' | translate}}</div>
    <div class="edit-dish__content" [formGroup]="editDishForm">
      <div class="edit-dish__control">
        <app-input-text placeholder="{{'my-food.dish-name' | translate}}" icon="create">
          <input type="text" formControlName="productName">
        </app-input-text>
      </div>
      <div class="edit-dish__control">
        <app-textarea placeholder="{{'dishes.describe' | translate}}">
          <textarea formControlName="description" #textarea></textarea>
        </app-textarea>
      </div>
      <div class="edit-dish__control">
        <app-textarea placeholder="{{'dishes.ingredients' | translate}}">
          <textarea formControlName="ingredients" #textarea></textarea>
        </app-textarea>
      </div>
      <div class="edit-dish__control">
        <app-textarea placeholder="{{'dishes.describe-recipe' | translate}}">
          <textarea formControlName="recipe" #textarea></textarea>
        </app-textarea>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <app-spinner-button (click)="edit()" [disabled]="disabledEditButton()" caption="{{'edit.edit-dish' | translate}}" [small]="true"></app-spinner-button>
</mat-dialog-actions>