.edit-dish {
  font-family: 'Lato', sans-serif;
  color: white;
  position: relative;
}
.edit-dish__control {
  margin-bottom: 30px;
}
mat-dialog-actions {
  display: flex;
  justify-content: center;
}
.edit-dish__title {
  font-size: 23px;
  margin-bottom: 30px;
  text-align: center;
}
mat-dialog-content {
  overflow: visible;
}

@media screen and (max-width: 992px) {
  .edit-dish__control {
    margin-bottom: 20px;
  }
  .edit-dish__title {
    font-size: 20px;
  }
  mat-dialog-actions {
    margin-top: -18px;
  }
}
