.toggle {
  border: 1px solid #767676;
  width: 85px;
  height: 36px;
  border-radius: 17px;
  position: relative;
  background-color: #252429;
  cursor: pointer;
  transition: .3s;
}
.toggle__wrapper_disabled .toggle {
  cursor: default;
  background-color: #8d8d8d;;
}
.toggle__wrapper_small .toggle {
  width: 70px;
  height: 30px;
}
.toggle__circle {
  position: absolute;
  left: 2px;
  top: 2px;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  transition: .2s;
}
.toggle__wrapper_small .toggle__circle {
  width: 25px;
  height: 25px;
}
.toggle_on {
  background-color: #5147da;
}
.toggle_on .toggle__circle {
  transform: translateX(48px);
}
.toggle__wrapper_small .toggle_on .toggle__circle {
  transform: translateX(39px);
}
.toggle__off {
  position: absolute;
  top: 8px;
  right: 12px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: #bababa;
}
.toggle__wrapper_small .toggle__off {
  font-size: 12px;
  top: 7px;
}
.toggle__on {
  position: absolute;
  top: 8px;
  left: 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
}
.toggle__wrapper_small .toggle__on {
  font-size: 12px;
  top: 7px;
}
.toggle__wrapper {
  display: flex;
  align-items: center;
}
.toggle__title {
  margin-left: 15px;
  font-size: 20px;
  cursor: pointer;
}
.toggle__wrapper_small .toggle__title {
  font-size: 16px;
}
.toggle__wrapper_disabled .toggle__title {
  color: gray;
  cursor: default;
}
