mat-dialog-actions {
  display: flex;
  justify-content: center;
}
.reset {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.reset__title {
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}
.reset__description {
  font-size: 14px;
  color: #c3c3c3;
}
.reset__email {
  width: 80%;
  margin: 30px auto 20px auto;
}
.reset__close-button {
  margin-bottom: 10px;
}
