<mat-dialog-content>
  <div class="reset">
    <div class="reset__title">Enter your email</div>
    <div class="reset__description">
      We need your email address to send you reset password message. Please enter it.
    </div>
    <div class="reset__email">
      <app-input-text placeholder="Email" icon="mail_outline">
        <input type="text" [(ngModel)]="email">
      </app-input-text>
    </div>
    <div class="app__error" *ngIf="error">{{error}}</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="reset__close-button">
    <app-spinner-button
      caption="Accept"
      [small]="true"
      (click)="resetPassword()"
      [spinnerStateSubject]="spinnerSubject"
      [disabled]="!email"
    ></app-spinner-button>
  </div>
</mat-dialog-actions>