.uploader {
  font-family: 'Lato', sans-serif;
  color: white;
  padding-top: 30px;
}
.uploader__title {
  font-size: 25px;
  text-align: center;
}
.uploader__content  {
  height: 404px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.uploader__content-right {
  margin-left: 20px;
}
.uploader__control {
  margin-bottom: 30px;
  width: 100%;
}
/deep/ .textarea {
  height: 200px;
  width: 100%;
}
.uploader__image-wrapper {
  border: 8px solid #ffffff14;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffffff4a;
  max-width: 606px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.uploader__content-right img, .uploader__content-right video {
  height: 404px;
}
.uploader__image {
  height: 100%;
}
.uploader__content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uploader__video-item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploader__video-item mat-icon {
  font-size: 50px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
}
.uploader__video-item {
  font-size: 20px;
}
app-input-text {
  width: 350px;
}
/deep/ .input {
  width: 350px !important;
}
.uploader__file img {
  width: 40px;
}
.uploader__content-files {
  display: flex;
  width: 600px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.uploader__input-file {
  margin-bottom: 15px;
}
.uploader__file-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.uploader__file {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.uploader__file img {
  margin-right: 5px;
}
.uploader__file button {
  margin-left: 10px;
}
.uploader__file button mat-icon {
  color: #787878;
}
.uploader__file button:hover mat-icon {
  color: white;
}
.uploader__content-files-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.uploader__actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.uploader__actions app-custom-button:last-of-type {
  margin-left: 10px;
}
.uploader__progress {
  width: 600px;
  margin: 50px auto;
}
