<div class="flip-card" [class.flip-card_flip]="selectionVisibility">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div
        class="product"
        appOpenMobileSelect
        (mobileSelect)="reactOnMobileSelect($event)"
        appOpenProductInfo
        [disabled]="isMobile"
        [product]="product"
        [class.product_dish]="product.dish"
      >
        <div class="product__actions" (click)="catchClick($event)" *ngIf="!isMobile">
          <div class="product__actions-left">
            <div class="product__action" (click)="selectProduct()">
              <mat-icon color="primary">check</mat-icon>
            </div>
            <div class="product__action" appEditProduct [product]="product" *ngIf="product.user.id === userId">
              <mat-icon color="primary">edit</mat-icon>
            </div>
            <div class="product__action" *ngIf="product.dish" appOpenDish [dish]="product">
              <mat-icon color="primary">priority_high</mat-icon>
            </div>
          </div>
          <div *ngIf="my && !selection" class="product__action" (confirmationEvent)="reactOnConfirmDeleteProduct($event)" appOpenAreYouSure caption="Do you really want to delete product '{{product.productName}}'?">
            <mat-icon color="primary">delete</mat-icon>
          </div>
          <div class="product__action" *ngIf="!my && !selection" (confirmationEvent)="reactOnConfirmAddProduct($event)" appOpenAreYouSure caption="Do you really want to add product '{{product.productName}}' to your food?">
            <mat-icon color="primary">add</mat-icon>
          </div>
        </div>
        <div class="product__image">
          <img [src]="product.image">
          <img [src]="product.fakeImage">
          <div class="product__image-tonner" *ngIf="!isMobile"></div>
        </div>
        <div class="product__title">{{trimProductName()}}</div>
      </div>
    </div>
    <div class="flip-card-back">
      <div class="product__selection" (clickOutside)="onClickedOutside()">
        <div class="product__selection-title">{{'my-food.how-much-did-you-eat' | translate}}</div>
        <app-input-text [small]="true" icon="grain" placeholder="{{(weightKind ? 'my-food.gram' : 'my-food.amount') | translate}}">
          <input type="text" appNumericControl [(ngModel)]="resultProductSelection">
        </app-input-text>
        <div class="product__selection-kind">
          <mat-radio-group (change)="reactOnSelectKind($event)">
            <mat-radio-button [value]="'weight'" [checked]="true">{{'my-food.weight' | translate}}</mat-radio-button>
            <mat-radio-button [value]="'by the piece'" [checked]="false">{{'my-food.by-the-piece' | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="product__selection-action">
          <app-custom-button [small]="true" caption="{{ 'my-food.accept' | translate }}" (click)="acceptProduct($event)" [disabled]="!resultProductSelection"></app-custom-button>
        </div>
        <div class="product__selection-back">
          <mat-icon (click)="onClickedOutside()">undo</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
