<div class="flip-card" [class.flip-card_flip]="selectionVisibility">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="product" appOpenProductInfo [product]="product">
        <div class="product__actions" (click)="catchClick($event)">
          <div class="product__action" (click)="selectProduct()">
            <mat-icon color="primary">check</mat-icon>
          </div>
          <div class="product__action" (confirmationEvent)="reactOnConfirmDeleteProduct($event)" appOpenAreYouSure title="Do you really want to delete product '{{product.productName}}'?">
            <mat-icon color="primary">delete</mat-icon>
          </div>
        </div>
        <div class="product__image">
          <img [src]="product.image">
          <img [src]="product.fakeImage">
          <div class="product__image-tonner"></div>
        </div>
        <div class="product__title">{{trimProductName()}}</div>
      </div>
    </div>
    <div class="flip-card-back">
      <div class="product__selection" (clickOutside)="onClickedOutside()">
        <div class="product__selection-title">How much did you eat?</div>
        <app-input-text [small]="true" icon="grain" placeholder="{{weightKind ? 'Gram' : 'Amount'}}">
          <input type="text" appNumericControl [(ngModel)]="resultProductSelection">
        </app-input-text>
        <div class="product__selection-kind">
          <mat-radio-group (change)="reactOnSelectKind($event)">
            <mat-radio-button [value]="'weight'" [checked]="true">weight</mat-radio-button>
            <mat-radio-button [value]="'by the piece'" [checked]="false">by the piece</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="product__selection-action">
          <app-custom-button caption="Accept" (click)="acceptProduct($event)" [disabled]="!resultProductSelection"></app-custom-button>
        </div>
      </div>
    </div>
  </div>
</div>
