.add-product {
  font-family: 'Lato', sans-serif;
  color: white;
  width: 600px;
  margin: 0 auto;
  padding-top: 30px;
}
.add-product_dish {
  width: 1030px;;
}
.add-product__title {
  font-size: 25px;
  text-align: center;
}
.add-product__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 395px;
}
.add-product__image-preload img {
  width: 250px;
  margin-bottom: 20px;
  border: 8px solid #ffffff14;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffffff4a;
}
.add-product__content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.add-product__control {
  margin-bottom: 30px;
}
.add-product__actions {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.add-product__actions app-custom-button:first-child {
  margin-right: 15px;
}
.add-product__right, .add-product__left {
  width: 295px;
}
.add-product__dish {
  width: 400px;
}
.add-product /deep/ .textarea {
  height: 33.3%;
  padding-bottom: 30px;
}
app-spinner-button {
  margin-top: 20px;
}
