<div class="add-product" [formGroup]="productForm" [class.add-product_dish]="!isProductPage">
  <div class="add-product__title">{{isProductPage ? 'Add new product' : 'Add new dish'}}</div>
  <div class="add-product__progress-bar" *ngIf="progressBarVisibility">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="add-product__content">
    <div class="add-product__dish" *ngIf="!isProductPage">
      <app-textarea placeholder="Describe your dish" *ngIf="!isProductPage">
        <textarea formControlName="description" #textarea></textarea>
      </app-textarea>
      <app-textarea placeholder="Ingredients" *ngIf="!isProductPage">
        <textarea formControlName="ingredients" #textarea></textarea>
      </app-textarea>
      <app-textarea placeholder="Describe recipe *" *ngIf="!isProductPage">
        <textarea formControlName="recipe" #textarea></textarea>
      </app-textarea>
    </div>
    <div class="add-product__left">
      <div class="add-product__control">
        <app-input-text [placeholder]="isProductPage ? 'Product Name' : 'Dish Name'" icon="create">
          <input type="text" formControlName="productName">
        </app-input-text>
      </div>
      <div class="add-product__control">
        <app-select (change)="reactOnSelectCategory($event)" icon="list_alt" placeholder="Category">
          <app-select-option
            *ngFor="let category of categories"
            [value]="category"
            [displayedValue]="category"></app-select-option>
        </app-select>
      </div>
      <div class="add-product__control">
        <app-input-text icon="bubble_chart" placeholder="Calories (kcal/100g)">
          <input type="text" formControlName="calories" appNumericControl>
        </app-input-text>
      </div>
      <div class="add-product__control">
        <app-input-text icon="scatter_plot" placeholder="Protein (g/100g)">
          <input type="text" formControlName="protein" appNumericControl>
        </app-input-text>
      </div>
      <div class="add-product__control">
        <app-input-text icon="share" placeholder="Fats (g/100g)">
          <input type="text" formControlName="fats" appNumericControl>
        </app-input-text>
      </div>
      <div class="add-product__control">
        <app-input-text icon="grain" placeholder="Carbohydrates (g/100g)">
          <input type="text" formControlName="carbohydrates" appNumericControl>
        </app-input-text>
      </div>
    </div>
    <div class="add-product__right">
      <div class="add-product__image">
        <div class="add-product__image-preload">
          <img [src]="productPreloadedPhoto ? productPreloadedPhoto : 'assets/img/no-photo.jpg'">
        </div>
        <app-input-file
          caption="Upload image"
          (fileSelected)="reactOnSelectProductImage($event)"
          [clearFilesSubject]="clearFilesSubject"
        ></app-input-file>
      </div>
      <app-input-text icon="looks_one" [placeholder]="isProductPage ? 'Average mass of one piece(g)' : 'Average mass of serving'">
        <input type="text" formControlName="averageMassOfOnePiece" appNumericControl>
      </app-input-text>
    </div>
  </div>
  <div class="add-product__actions">
    <app-custom-button color="accent" caption="Save" [disabled]="productForm.invalid" (click)="save()"></app-custom-button>
    <app-custom-button color="warn" caption="Back" [routerLink]="'/' + previousPage"></app-custom-button>
  </div>
</div>
