.add-product {
  font-family: 'Lato', sans-serif;
  color: white;
  width: 600px;
  margin: 0 auto;
  padding-top: 30px;
}
.add-product_dish {
  width: 1030px;;
}
.add-product__title {
  font-size: 25px;
  text-align: center;
}
.add-product__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 395px;
}
.add-product__image-preload img {
  width: 250px;
  margin-bottom: 20px;
  border: 8px solid #ffffff14;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffffff4a;
}
.add-product__content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.add-product__control {
  margin-bottom: 30px;
}
.add-product__actions {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.add-product__actions app-custom-button:first-child {
  margin-right: 15px;
}
.add-product__right, .add-product__left {
  width: 295px;
}
.add-product__dish {
  width: 400px;
}
.add-product /deep/ .textarea {
  height: 33.3%;
  padding-bottom: 30px;
}
app-spinner-button {
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .add-product {
    width: 92%;
    margin: 0 auto;
    padding-top: 10px;
  }
  .add-product__content {
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .add-product__right, .add-product__left {
    width: auto;
  }
  .add-product__image {
    height: 350px;
    margin-bottom: 0;
  }
  .add-product__control {
    margin-bottom: 20px;
  }
  .add-product__left {
    margin-top: 20px;
  }
  .add-product__actions {
    margin-top: 0;
    padding-bottom: 20px;
  }
  .add-product__dish {
    width: auto;
  }
  .add-product_dish .add-product__image {
    height: 410px;
  }
  .add-product /deep/ .textarea {
    padding-bottom: 20px;
  }
}
