mat-dialog-content {
  padding-bottom: 20px;
}
.dish-details {
  color: white;
  font-family: 'Lato', sans-serif;
}
.dish-details__title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}
.dish-details__content {
  color: rgb(212, 212, 212);
  display: flex;
  margin-bottom: 20px;
}
.dish-details__dish-image {
  width: 300px;
}
.dish-details__dish-image img {
  width: 100%;
}
.dish-details__key {
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.dish-details__left {
  margin-right: 20px;
}
.dish-details__info-item {
  margin-bottom: 10px;
  white-space: pre-wrap;
}
.dish-details__recipe {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  width: 100%;
  white-space: pre-wrap;
}
.dish-details__title {
  font-size: 18px;
}

@media screen and (max-width: 576px) {
  .dish-details__content {
    display: block;
  }
  .dish-details__title {
    margin-bottom: 10px;
  }
  .dish-details__dish-image {
    width: 100%;
  }
  .dish-details__left {
    margin: 0;
  }
  mat-dialog-content {
    padding: 0 10px;
    overflow: visible;
  }
  .dish-details {
    position: relative;
  }
  .dish-details .app__popup-close {
    right: -7px;
  }
}
