<div class="personal__progress" *ngIf="progressBarVisibility">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="personal" *ngIf="user">
  <div class="personal__row personal__row_single">
    <div class="personal__avatar-wrapper">
      <div class="settings__avatar">
        <app-user-icon [fakeAvatar]="user.fakeAvatarUrl" [avatar]="user.avatar" [preload]="preloadedImg"></app-user-icon>
      </div>
      <app-input-file
        caption="{{'buttons.change-avatar' | translate}}"
        (fileSelected)="selectNewAvatar($event)"
        [clearFilesSubject]="clearFilesSubject"
      ></app-input-file>
    </div>
  </div>
  <div class="personal__row">
    <div class="personal__control">
      <app-input-text placeholder="{{'controls.nickname' | translate}}" icon="perm_identity">
        <input type="text" [(ngModel)]="tempUser.nickname">
      </app-input-text>
    </div>
    <div class="personal__control">
      <app-input-text placeholder="{{'controls.email' | translate}}" icon="mail_outline">
        <input type="text" [(ngModel)]="tempUser.email">
      </app-input-text>
    </div>
  </div>
  <div class="personal__row">
    <div class="personal__control">
      <app-select [value]="user.activity" (change)="reactOnSelectActivity($event)" icon="sports_basketball" placeholder="Activity">
        <app-select-option
          *ngFor="let activity of activities"
          [value]="activity"
          [displayedValue]="activity"></app-select-option>
      </app-select>
    </div>
    <div class="personal__control">
      <app-select [value]="user.goal" (change)="reactOnSelectGoal($event)" icon="event_available" placeholder="Goal">
        <app-select-option
          *ngFor="let goal of goals"
          [value]="goal"
          [displayedValue]="goal"></app-select-option>
      </app-select>
    </div>
  </div>
  <div class="personal__row">
    <div class="personal__control">
      <app-input-text placeholder="{{'controls.height' | translate}}" icon="height">
        <input type="text" [(ngModel)]="tempUser.height" appNumericControl>
      </app-input-text>
    </div>
    <div class="personal__control">
      <app-input-text placeholder="{{'controls.weight' | translate}}" icon="fitness_center">
        <input type="text" [(ngModel)]="tempUser.weight" appNumericControl>
      </app-input-text>
    </div>
  </div>
  <div class="personal__row">
    <div class="personal__control">
      <app-input-text placeholder="{{'controls.age' | translate}}" icon="perm_identity">
        <input type="text" [(ngModel)]="tempUser.age" appNumericControl>
      </app-input-text>
    </div>
    <div class="personal__control">
      <app-radio-group caption="{{'controls.male-title' | translate}}" type="male" [twoWayBind]="tempUser"></app-radio-group>
    </div>
  </div>
  <div class="personal__actions">
    <app-custom-button color="accent" caption="{{'buttons.save' | translate}}" (click)="save()" [disabled]="disableButton()"></app-custom-button>
    <app-custom-button color="warn" caption="{{'buttons.cancel' | translate}}" [disabled]="disableButton()"></app-custom-button>
  </div>
</div>
