.flip-card {
  height: 387px;
  width: 270px;
}
.dish {
  width: 270px;
  height: 387px;
  font-family: 'Lato', sans-serif;
  color: white;
  cursor: pointer;
  transition: .3s;
}
.dish__image {
  position: relative;
  height: 270px;
  overflow: hidden;
}
.dish__image img {
  width: 100%;
  z-index: 1;
  position: relative;
}
.dish__image img:last-of-type {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.dish__title {
  background-color: #32445a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: -3px;
}
.dish__edit-icon {
  display: none;
}
.dish:hover .dish__edit-icon {
  display: block;
}
.dish__edit-icon mat-icon {
  color: #787878;
}
.dish__edit-icon mat-icon:hover {
  color: white;
}
.dish__header-user {
  display: flex;
  align-items: center;
}
.dish__header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #32445a;
  justify-content: space-between;
}
.dish__header-icon {
  margin-right: 15px;
}
.dish__info {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.685);
  width: 100%;
  display: flex;
  align-items: center;
  cursor: default;
  padding: 3px;
}
.dish__comment-icon {
  margin-left: 5px;
}
.dish:hover {
  box-shadow: 0 0 15px #ffffffba;
  transform: scale(1.1);
}
.dish__comments {
  width: 270px;
  height: 390px;
  background-color: #222e35;
  box-shadow: 0 0 15px #ffffffba;
  color: white;
  font-family: 'Lato', sans-serif;
  position: relative;
  padding-top: 15px;
}
.dish__comments-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.dish__comments-chat {
  height: calc(100% - 85px);
  overflow-y: auto;
}
.dish__comments-message {
  height: 46px;
  border-top: .5px solid #545454;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dish__comments-message input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: .5px solid gray;
  color: rgb(230, 230, 230);
  margin-left: 20px;
  font-size: 16px;
}
.dish__comments-message mat-icon {
  margin-top: -3px;
  margin-right: -5px;
  color: #787878;
}
.dish__comments-message mat-icon:hover {
  color: white;
}
.dish__comments-back {
  position: absolute;
  left: 0;
  top: 0;
}
.dish__comments-back mat-icon {
  color: #787878;
}
.dish__comments-back mat-icon:hover {
  color: white;
}
.dish__comments-comment {
  padding: 5px;
}
.dish__comments-comment-nickname {
  margin-right: 5px;
  font-weight: 600;
}
.dish__comments-comment-body {
  word-break: break-all;
}

@media screen and (max-width: 576px) {
  .dish:hover {
    transform: scale(1);
  }
  .dish__mobile-actions {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 46px);
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.637);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(-224px);
    transition: .3s;
  }
  .dish__mobile-actions-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dish__mobile-actions-wrapper button {
    width: 80px;
    height: 80px;
    background-color: #5147da;
  }
  .dish__mobile-actions-wrapper button mat-icon {
    font-size: 35px;
    margin-top: -10px;
    margin-left: -9px;
  }
  .dish__mobile-actions_active {
    transform: translateY(0);
  }
}
