<div class="history__spinner" *ngIf="progressBarVisibility">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="history">
  <div class="history__calendar">
    <app-calendar (select)="reactOnSelectDate($event)"></app-calendar>
    <div class="history__actions">
      <app-spinner-button caption="{{'history.view-daily' | translate}}" [small]="true" appOpenDailyStatistics></app-spinner-button>
      <app-spinner-button caption="{{'history.view-score' | translate}}" [small]="true" appOpenScoreStatistics></app-spinner-button>
    </div>
  </div>
  <div class="history__progress">
    <app-current-progress [hidden]="progressBarVisibility || !history"></app-current-progress>
    <div class="history__progress-total-score" *ngIf="history?.totalScore">
      {{'history.points' | translate}}: {{history.totalScore}}
    </div>
    <div class="history__actions" *ngIf="!progressBarVisibility && history">
      <app-spinner-button caption="{{'history.view-food' | translate}}" [small]="true" appOpenHistoryFood [products]="history.products"></app-spinner-button>
    </div>
    <div class="history-food__empty" *ngIf="!history && !progressBarVisibility">{{'history.no-eat' | translate}}</div>
  </div>
</div>
