<div class="my-food" *ngIf="!isMobile">
  <div class="my-food__progress-bar" *ngIf="progressBarVisibility">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="my-food__content">
    <div class="my-food__current-eating" [hidden]="!userFillRequiredData">
      <div class="my-food__current-progress">
        <app-current-progress></app-current-progress>
      </div>
      <app-current-eating></app-current-eating>
    </div>
    <div class="my-food__my-products" [hidden]="!userFillRequiredData">
      <div class="my-food__description">
        {{'my-food.my-food-description' | translate}}
      </div>
      <div class="my-food__actions">
        <app-spinner-button caption="{{'my-food.add-product' | translate}}" [small]="true" routerLink="/add-product" [queryParams]="{previous: 'my-food'}"></app-spinner-button>
        <app-spinner-button caption="{{'my-food.find-more' | translate}}" [small]="true" *ngIf="myProducts" (click)="findMoreProducts()"></app-spinner-button>
        <app-spinner-button caption="{{'my-food.my-products' | translate}}" [small]="true" *ngIf="!myProducts" (click)="goBackToMyProducts()"></app-spinner-button>
        <app-search caption="{{'my-food.search' | translate}}" (searchEvent)="reactOnSearch($event)"></app-search>
      </div>
      <virtual-scroller #scroll [items]="displayedProducts" [bufferAmount]="2" *ngIf="displayedProducts">
        <div class="my-food__products-not-found" *ngIf="displayedProducts.length === 0">There are not products:(</div>
        <div class="my-food__product" *ngFor="let product of scroll.viewPortItems">
          <app-product
            [my]="myProducts"
            [product]="product"
            (addProductEvent)="reactOnAddProduct($event)"
            (deleteProductEvent)="reactOnDeleteProduct($event)"></app-product>
        </div>
      </virtual-scroller>
    </div>
    <div class="my-food__right-bar" [hidden]="!userFillRequiredData">
      <app-categories (selectCategoryEvent)="reactOnSelectProductCategoryEvent($event)" caption="{{'my-food.product-categories' | translate}}" [options]="productCategories"></app-categories>
      <app-categories (selectCategoryEvent)="reactOnSelectDishCategoryEvent($event)" caption="{{'my-food.dish-categories' | translate}}" [options]="dishCategories"></app-categories>
      <div class="my-food__options">
        <div class="my-food__options-title">{{'my-food.food-options' | translate}}</div>
        <div class="progress__trigger" *ngIf="user">
          <app-toggle caption="{{'my-food.disable-tips' | translate}}" [small]="true" [value]="user.disableTips" (change)="reactOnChangeTips($event)"></app-toggle>
        </div>
        <div class="progress__trigger" *ngIf="user">
          <app-toggle caption="{{'my-food.use-custom-goals' | translate}}" [disabled]="disableGoalTrigger()" [small]="true" [value]="user.ownGoal" (change)="reactOnChangeGoal($event)"></app-toggle>
        </div>
        <div class="progress__actions">
          <app-spinner-button caption="{{'my-food.custom-goals' | translate}}" [small]="true" appOpenCustomGoals></app-spinner-button>
        </div>
      </div>
      <div class="my-food__advice" @toRightAnimation *ngIf="user && !user?.disableTips">
        <app-advice></app-advice>
      </div>
    </div>
  </div>
  <div class="my-food__content" *ngIf="!progressBarVisibility && !userFillRequiredData">
    <div class="my-food__description">
      You have to set your personal data, to give for us ability to calculate your daily goals. Set it and start use application! <br><br>
      <app-spinner-button caption="Go to settings" [small]="true" routerLink="/settings/personal"></app-spinner-button>
    </div>
  </div>
</div>
<app-flying-product></app-flying-product>
<div class="my-food__mobile" *ngIf="isMobile">

</div>
<div class="my-food__mobile-footer" *ngIf="isMobile">
  <app-mobile-footer></app-mobile-footer>
</div>
