.my-food {
  color: white;
  font-family: 'Lato', sans-serif;
  position: relative;
}
.my-food__content {
  display: flex;
  justify-content: space-around;
}
.my-food__my-products {
  width: 760px;
}
.my-food__actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.my-food__actions app-spinner-button {
  margin-right: 20px;
}
.my-food__description {
  color: silver;
  padding-top: 20px;
  text-align: center;
  font-weight: 400;
}
.my-food__progress-bar {
  position: absolute;
  width: 100%;
}
.my-food__products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-top: 20px;
  max-height: calc(100vh - 177px);
  overflow-y: auto;
}
virtual-scroller {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-top: 20px;
  height: calc(100vh - 177px);
  overflow-y: auto;
  width: 760px;
}
.my-food__product {
  flex-basis: 25%;
  margin-bottom: 30px;
  height: 207px;
  display: flex;
  justify-content: center;
}
.my-food__current-eating {
  width: 426px;
}
.my-food__right-bar {
  width: 426px;
  position: relative;
  height: calc(100vh - 80px);
}
.my-food__options-title {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}
.progress__trigger {
  margin: 10px 0;
}
.progress__actions {
  display: flex;
  justify-content: center;
}
.my-food__advice {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.my-food__products-not-found {
  font-size: 13px;
  text-align: center;
  width: 100%;
}
