.my-food {
  min-height: calc(100vh - 80px);
  color: white;
  font-family: 'Lato', sans-serif;
}
.my-food__content {
  width: 1000px;
  margin: 0 auto;
}
.my-food__add {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.my-food__description {
  color: silver;
  padding-top: 20px;
  text-align: center;
  font-weight: 400;
}
