.textarea__value {
  width: 100%;
  height: 100%;
}
.textarea {
  position: relative;
}
.textarea /deep/ textarea {
  width: 100%;
  height: 100%;
  min-height: 100px;
  background-color: #252429;
  border-radius: 4px;
  border: none;
  outline: none;
  color: white;
  padding: 15px 25px;
  font-size: 18px;
  resize: none;
}
.textarea /deep/ textarea:hover {
  border: .5px solid #504f57;
}
.textarea__placeholder {
  color: #bbbbbb;
  position: absolute;
  left: 25px;
  top: 17px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  transition: .2s;
}
.textarea__placeholder_top {
  transform: translate(-20px, -36px) scale(0.8);
}
