.advice {
  background-color: #28353b;
  margin-bottom: 40px;
  border-radius: 6px;
  padding: 20px
}
.advice__title {
  font-size: 18px;
}
.advice__title {
  display: flex;
  align-items: center;
}
.advice__title-value {
  margin: 0 5px;
}
.advice__content {
  padding: 5px;
  font-size: 13px;
}
