.videos {
  width: 1200px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}
.videos__description {
  color: silver;
  padding-top: 20px;
  text-align: center;
  font-weight: 400;
}
.videos__actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
app-spinner-button {
  margin-right: 10px;
}
.videos__progress-bar {
  position: absolute;
  width: 100%;
  left: 0;
}
.videos__items {
  display: flex;
  flex-wrap: wrap;
}
.videos__video {
  margin-right: 20px;
  margin-bottom: 20px;
}
.videos__empty {
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .videos {
    width: auto;
  }
  .videos__video {
    margin-right: 0;
    width: 90%;
  }
  .videos__items {
    justify-content: center;
  }
  .videos__description {
    display: none;
  }
  .videos__actions {
    margin-bottom: 15px;
  }
  mat-dialog-content {
    padding: 10px;
  }
}
