<div class="videos">
  <div class="videos__progress-bar" *ngIf="progressBarVisibility">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="videos__content" *ngIf="!progressBarVisibility">
    <div class="videos__description">{{'videos.description' | translate}}</div>
    <div class="videos__actions" *ngIf="!progressBarVisibility">
      <app-spinner-button caption="{{'videos.add-video' | translate}}" [small]="true" routerLink="/add-video"></app-spinner-button>
      <app-search caption="{{'videos.search-video' | translate}}" (searchEvent)="reactOnSearchEvent($event)"></app-search>
    </div>
    <div class="videos__items">
      <div class="videos__empty" *ngIf="!displayedVideos.length">{{'videos.no-videos' | translate}}</div>
      <div class="videos__video" *ngFor="let video of displayedVideos">
        <app-video [video]="video"></app-video>
      </div>
    </div>
  </div>
</div>
