.mobile-footer {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  height: 47px;
  font-family: 'Lato', sans-serif;
  color: #8e8e8e;
  border-top: .5px solid #6f6f6f;
  box-shadow: 0 0 5px #ffffff80;
  font-size: 12px;
}
.mobile-footer mat-icon {
  color: #8e8e8e;
}
.mobile-footer__item {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #202020;
  border-right: .5px solid #565656;
  position: relative;
}
.mobile-footer__item_disabled {
  background-color: #565656;
  color: #787878;
}
.mobile-footer__item_disabled mat-icon {
  color: #787878;
}
.mobile-footer__item:last-child {
  border-right: none;
}
.mobile-footer__item_active mat-icon {
  color: white;
}
.mobile-footer__amount {
  position: absolute;
  right: 17px;
  top: 5px;
  background-color: #5147da;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
