.mobile-footer {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  height: 47px;
  font-family: 'Lato', sans-serif;
  color: #8e8e8e;
  border-top: .5px solid #6f6f6f;
  box-shadow: 0 0 5px #ffffff80;
  font-size: 12px;
}
.mobile-footer mat-icon {
  color: #8e8e8e;
}
.mobile-footer__item {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #202020;
}
.mobile-footer__item {
  border-right: .5px solid #565656;
}
.mobile-footer__item:last-child {
  border-right: none;
}
.mobile-footer__item_active mat-icon {
  color: white;
}
