<div class="mobile-footer">
  <div class="mobile-footer__item" matRipple matRippleColor="rgba(255, 255, 255, .1)" appOpenMobileEating [disabled]="!currentEatingItemsNumber">
    <div class="mobile-footer__amount" *ngIf="currentEatingItemsNumber">{{currentEatingItemsNumber}}</div>
    <mat-icon>outdoor_grill</mat-icon>
    eat
  </div>
  <div class="mobile-footer__item" matRipple matRippleColor="rgba(255, 255, 255, .1)" appOpenMobileProgress>
    <mat-icon>sort</mat-icon>
    progress
  </div>
  <div
    class="mobile-footer__item"
    matRipple
    matRippleColor="rgba(255, 255, 255, .1)"
    (selectProductCategory)="reactOnSelectProductCategoryEvent($event)"
    (selectDishCategory)="reactOnSelectDishCategoryEvent($event)"
    appOpenFilter
  >
    <mat-icon>filter_list</mat-icon>
    filters
  </div>
  <div class="mobile-footer__item" matRipple matRippleColor="rgba(255, 255, 255, .1)" appOpenFoodOptions>
    <mat-icon>build</mat-icon>
    options
  </div>
</div>
