<div class="current-eating" [hidden]="products.length === 0">
  <div class="current-eating__title">Current Eating</div>
  <div class="current-eating__content">
    <div class="current-eating__product" *ngFor="let product of products">
      <div class="current-eating__product-image">
        <img [src]="product.image">
      </div>
      <div class="current-eating__product-info">
        <div class="current-eating__product-info-value">Calories: {{product.calories}}kcal</div>
        <div class="current-eating__product-info-value">Protein: {{product.protein}}g</div>
        <div class="current-eating__product-info-value">Fats: {{product.fats}}g</div>
        <div class="current-eating__product-info-value">Carbohydrates: {{product.carbohydrates}}g</div>
        <div class="current-eating__product-info-value">Weight: {{product.weight}}g</div>
      </div>
    </div>
  </div>
</div>
