.categories {
  margin-bottom: 10px;
}
.categories__title {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}
.categories__category {
  background-color: #e4e4e4;
  border: none;
  font-size: 13px;
  padding: 7px 25px;
  border-radius: 25px;
  color: #484848;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: .1s;
  margin-bottom: 5px;
  margin-right: 5px;
}
.categories__category:hover {
  background-color: white;
}
.categories__content {
  padding-top: 5px;
}
.categories__category_selected {
  color: white;
  background-color: #298977;
}
.categories__category_selected:hover {
  background-color: #30ac95;
}

@media screen and (max-width: 500px) {
  .categories__category {
    padding: 9px 20px;
    font-size: 14px;
  }
}
