<div class="history-food">
  <div class="history-food__title" mat-dialog-title>{{'history.your-food' | translate}}</div>
  <div class="app__popup-close" mat-dialog-close>
    <mat-icon>clear</mat-icon>
  </div>
  <div class="history-food__content" mat-dialog-content>
    <div class="history-food__empty" *ngIf="products.length === 0">{{'history.no-food' | translate}}</div>
    <div class="history-food__product" *ngFor="let product of products">
      <app-product-card [product]="product" [history]="true"></app-product-card>
    </div>
  </div>
</div>