.notification {
  position: absolute;
  top: 50px;
  right: 50px;
  color: white;
  background-color: #5147da;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  border-radius: 7px;
  min-width: 300px;
  box-shadow: 0 0 5px #81f8ff;
  cursor: pointer;
  max-width: 400px;
  animation-name: notification;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.notification__title {
  font-size: 17px;
  margin-bottom: 10px;
}
.notification__body {
  font-size: 13px;
}