.notification {
  position: absolute;
  top: 50px;
  right: 50px;
  color: white;
  background-color: #5147da;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  border-radius: 7px;
  min-width: 300px;
  box-shadow: 0 0 5px #81f8ff;
  cursor: pointer;
  max-width: 400px;
  animation-name: notification;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.notification_error {
  background-color: #841616;
}
.notification__title {
  font-size: 17px;
  margin-bottom: 10px;
}
.notification__body {
  font-size: 13px;
}

@media screen and (max-width: 500px) {
  .notification__title {
    font-size: 14px;
  }  
  .notification__body {
    font-size: 12px;
  }
  .notification {
    min-width: 0;
    bottom: 17px;
    right: 17px;
    top: auto;
    max-width: 75%;
  }
}
