<mat-dialog-content>
  <div class="goals">
    <div class="app__popup-close">
      <mat-icon (click)="close()">clear</mat-icon>
    </div>
    <div class="goals__title">{{'custom-goals.title' | translate}}</div>
    <div class="goals__description">{{'custom-goals.subtitle' | translate}}</div>
    <div class="goals__content" *ngIf="tempUser">
      <div class="goals__control">
        <app-input-text icon="bubble_chart" placeholder="{{'my-food.calories' | translate}}">
          <input type="text" (input)="reactOnInput($event, 'customCaloriesGoal')" [(ngModel)]="tempUser.customCaloriesGoal" appNumericControl>
        </app-input-text>
      </div>
      <div class="goals__control">
        <app-input-text icon="scatter_plot" placeholder="{{'my-food.protein' | translate}}">
          <input type="text" (input)="reactOnInput($event, 'customProteinGoal')" [(ngModel)]="tempUser.customProteinGoal" appNumericControl>
        </app-input-text>
      </div>
      <div class="goals__control">
        <app-input-text icon="share" placeholder="{{'my-food.fats' | translate}}">
          <input type="text" (input)="reactOnInput($event, 'customFatsGoal')" [(ngModel)]="tempUser.customFatsGoal" appNumericControl>
        </app-input-text>
      </div>
      <div class="goals__control">
        <app-input-text icon="grain" placeholder="{{'my-food.carbohydrates' | translate}}">
          <input type="text" (input)="reactOnInput($event, 'customCarbohydratesGoal')" [(ngModel)]="tempUser.customCarbohydratesGoal" appNumericControl>
        </app-input-text>
      </div>
    </div>
    <div class="app__error" *ngIf="error">{{error}}</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <app-spinner-button *ngIf="tempUser" caption="{{'my-food.accept' | translate}}" [small]="true" [disabled]="disableAcceptButton" (click)="acceptCustomGoals()"></app-spinner-button>
</mat-dialog-actions>
