.system {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.system__notification {
  width: 400px;
  margin-top: 20px;
}
.system__change-pass {
  margin-top: 20px;
}
.system__progress {
  position: absolute;
  width: 100%;
}
