<div class="system__progress" *ngIf="!user">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="system" *ngIf="user">
  <div class="system__notification">
    <app-select [value]="user.notificationTime" (change)="reactOnSelectHour($event)" icon="access_alarm" placeholder="{{'settings.notification-time' | translate}}">
      <app-select-option
        *ngFor="let hour of hours"
        [value]="hour"
        [displayedValue]="hour.title"></app-select-option>
    </app-select>
  </div>
  <div class="system__notification">
    <app-select [value]="user.interfaceLanguage" (change)="reactOnSelectLanguage($event)" icon="language" placeholder="{{'settings.interface-language' | translate}}">
      <app-select-option
        *ngFor="let language of languages"
        [value]="language"
        [displayedValue]="language"></app-select-option>
    </app-select>
  </div>
  <div class="system__toggles">
    <app-toggle title="{{'settings.notification-sound' | translate}}" [value]="user.notificationSound" (change)="reactOnChangeNotificationSound($event)"></app-toggle>
  </div>
  <div class="system__toggles">
    <app-toggle title="{{'settings.send-report' | translate}}" [value]="user.sendDailyReportOnEmail" (change)="reactOnChangeSendDailyReportOnEmail($event)"></app-toggle>
  </div>
  <div class="system__change-pass">
    <app-spinner-button caption="{{'buttons.change-password' | translate}}" [small]="true" appOpenChangePassword></app-spinner-button>
  </div>
</div>
