<div class="select" [class.select_opened]="optionsVisibility" (clickOutside)="onClickedOutside()">
  <div class="select__header" (click)="toggleOptionsVisibility()">
    {{currentValue}}
  </div>
  <div class="select__placeholder" (click)="toggleOptionsVisibility()" [class.select__placeholder_active]="placeholderAtTop">{{placeholder}}</div>
  <div class="select__icon" (click)="toggleOptionsVisibility()">
    <mat-icon color="primary">{{icon}}</mat-icon>
  </div>
  <div class="select__options" @expandAnimation *ngIf="optionsVisibility">
    <ng-content></ng-content>
  </div>
</div>
