.dishes {
  width: 1200px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}
.dishes__title {
  color: silver;
  padding-top: 20px;
  text-align: center;
  font-weight: 400;
}
.dishes__actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.dishes__progress-bar {
  position: absolute;
  width: 100%;
  left: 0;
}
.dishes__content {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.dishes__dish {
  margin-bottom: 30px;
  flex-basis: 25%;
  display: flex;
  justify-content: center;
}
app-spinner-button {
  margin-right: 10px;
}

@media screen and (max-width: 576px) {
  .dishes {
    width: auto;
  }
  .dishes__title {
    display: none;
  }
  .dishes__content {
    display: block;
    padding-top: 15px;
  }
  .dishes__dish {
    margin-bottom: 20px;
  }
}
