<div class="search">
  <button
    class="search__button"
    (click)="open()"
    [class.search__button_active]="visibility"
  >
    <span class="button__caption" *ngIf="!visibility">
      {{caption}}
    </span>
    <div class="search__input" *ngIf="visibility" @widthAnimation>
      <input type="text" appResizableInput (input)="reactOnInput()" [(ngModel)]="currentValue">
    </div>
    <div class="search__close" *ngIf="visibility" (click)="close($event)">
      <mat-icon>close</mat-icon>
    </div>
  </button>
</div>
