.progress {
  font-family: 'Lato', sans-serif;
  color: white;
}
.progress__title {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 20px;
}
.progress__item-title {
  margin-bottom: 5px;
}
.progress__item {
  margin-bottom: 10px;
}
.progress__item-title-preview {
  color: #00a040;
}
.progress__actions {
  display: flex;
  justify-content: center;
}
.progress__trigger {
  margin-bottom: 20px;
}
.progress__error {
  color: #ff6a6a;
}

@media screen and (max-width: 500px) {
  .progress__title {
    margin-bottom: 60px;
  }
}
